{
 :status          {:url "/status"}
 :health          {:url "/health"}


 :authorization   {:secret   "mytotallysuperdupermegasecret"
                   :options  {:alg :a256kw
                              :enc :a128gcm}
                   :authdata {:admin {:roles    [:admin_role]
                                      :password "secret"}
                              :test  {:roles    [:user_role]
                                      :password "secret"}
                              }
                   }

 ;;; metrics
 :metrics         {:reporter "console"
                   :console  {:interval 100}}

 ;;; activate graphite like this:
 ; metrics.reporter=graphite#graphite.host=localhost#graphite.port=2003#graphite.prefix=my-app-prefix#graphite.interval.seconds=60server.port=8080

 ;;use this           if you need a grace-time during which
 ;;the system         reports unhealthy before shutting down.
 :wait-ms-on-stop 100
 }
